.detailed-recipe .recipe-image{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.detailed-recipe h2{
    text-align: left;
    margin: 32px 0 16px 0;
}

.detailed-recipe .attributes-container{
    display: flex;
    gap: 16px;
}

.attributes-container .cooktime{
    display: flex;
    align-items: center;
    gap: 7px;
}

.attributes-container .difficulty{
    padding: 2px 6px;
    border-radius: 16px;
}

.detailed-recipe .description{
    margin-top: 2rem;
    max-width: 600px;
}

.detailed-recipe h3{
    margin: 48px 0 16px 0;
    display: flex;
    align-items: center;
    gap: 7px;
}

.detailed-recipe .header-icon{
    color: var(--primary);
}

.ingredient-list{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ingredient-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.ingredient input[type="checkbox"] {
    margin-top: 2px;
    width: 18px;
    height: 18px;
    accent-color: #22577A;
    vertical-align: middle;
}

.ingredient input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: gray;
}

.instructions-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.instructions-list .step{
    max-width: 600px;
}