:root{
    --primary: #22577A;
    --secondary: #38A3A5;
    --tertiary: #57CC99;
    --accent: #80ED99;
    --light-bg: #C7F9CC;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.page-wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-content{
    flex: 1;
}

h2{
    margin: 2rem 0;
    text-align: center;
    color:rgb(54, 54, 54);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-md{
    max-width: 900px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

.links{
    text-decoration: none;
    color: inherit;
}

/* Homepage Styles */
.generate-btn{
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: var(--secondary);
    border-radius: 16px;
    color: white;

    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.1rem;

    &:hover{
        background-color: #277374;
    }
}

.recipe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
    gap: 2rem;
}

.login-toast{
    text-align: center;
    color: rgb(44, 44, 44)
}

/* All Recipes Styles */
.recipes-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}


/* Footer Styles */
footer{
    background-color: #22577A;
    padding: 2rem;
    margin-top: 2rem;
    text-align: center;
    color: white;
}

/* Button Common styles */
.btn{
    border: none;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
}