:root{
    --primary: #22577A;
    --secondary: #38A3A5;
    --accent: #80ED99;
    --light-bg: #C7F9CC;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}