.ingredient-form{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.ingredient-form input{
    outline: none;
    width: 560px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.6rem 0.6rem;
    border-radius: 16px;
    border: 1px solid rgb(229, 229, 229);
    box-shadow: 
        0 2px 2px rgba(0, 0, 0, 0.06),
        0 8px 24px rgba(0, 0, 0, 0.08);

    &:focus{
        outline: none;
    }
}

form .ingredient-submit{
    background-color: var(--secondary);
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 16px;

    display: flex;
    align-items: center;
    gap: 6px;

    &:hover{
        background-color: #277374;
    }
}

.ingredient-container{
    display: grid;
    gap: 10px;
    max-width: 600px;
    margin: 3rem auto;
    grid-template-columns: repeat(3, 1fr);
}

