.ingredient-container .ingredient{
    border-radius: 16px;
    padding: 0.3rem 0.8rem;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.xmark{
    color: rgb(255, 112, 112);
    font-size: 1rem;

    &:hover{
        cursor: pointer;
    }
}