.cookbook-container h2{
    display: flex;
    align-items: center;
    gap: 6px;
    text-align: left;
    margin-bottom: 10px;
}

.bookmark-icon{
    color: var(--primary);
}

.cookbook-container .no-saved{
    margin-top: 2rem;
    text-align: center;
}

.no-saved p{
    margin: 8px auto;
}
