nav{
    background-color: rgb(244, 244, 244);
}

nav #logo{
    color: var(--primary);
    font-family: 'Gabarito';
    font-size: 2rem;
}

nav .logo-container{
    display: flex;
    gap: 10px;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;

}


nav .logo-img{
    width: 50px;
    height: auto;
}

nav .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .link-container{
    display: flex;
    gap: 2rem;
}

nav .link-container li{
    display: flex;
    align-items: center;
    font-size: 1.1rem;

    &:hover{
        color: var(--secondary);
    }
}

nav .log-in-btn{
    border-radius: 12px;
    padding: 0.5rem 1.2rem;
    background-color: var(--tertiary);
    color: white;

    &:hover{
        background-color: #45a078;
    }
}

nav .log-out-btn{
    border-radius: 12px;
    padding: 0.5rem 1.2rem;
    background-color: grey;
    color: white;

    &:hover {
        background-color: rgb(81, 81, 81);
    }
}