nav{
    background-color: rgb(255, 255, 255);
}

nav #logo{
    color: var(--primary);
    font-family: 'Gabarito';
    font-size: 2rem;
}

nav .logo-container{
    display: flex;
    gap: 10px;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;

}

nav .logo-img{
    width: 50px;
    height: auto;
}

nav .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .link-container{
    display: flex;
    gap: 1rem;
}