
.recipe-card{
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2),
                0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease;
    max-width: 800px;
    height: 250px;
    display: flex;
    gap: 1rem;

    &:hover{
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3),
                0 4px 10px rgba(0, 0, 0, 0.3);
    }
}

.recipeImg{
    height: 250px;
    width: auto;
}

.recipe-details{
    padding: 1rem;
}

.recipe-details h3{
    text-align: left;
    margin-bottom: 0.5rem;
}

.recipe-details .cooktime{
    display: flex;
    align-items: center;
    gap: 7px;
}

.recipe-details .attributes-container{
    display: flex;
    gap: 16px;
}

.recipe-details .difficulty{
    padding: 1px 8px;
    align-items: center;
    border-radius: 16px;
}

.recipe-details .description{
    margin: 1rem 0;
}